#container {
  margin-top: 30px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flexbox {
  background-color: rgb(224, 224, 224);
  width: 500px ;
  padding: 40px 50px;
  border-radius: 10px;
}

#heading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

#search-holder{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

#flexbox input{
  height: 40px;
  width: 250px;
  margin-right: 10px;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  font-size: 18px;
  border: 2px solid rgb(194, 194, 194);
  box-shadow: 0 3px 5px rgb(87, 87, 87);
}

#flexbox input:focus {
  box-shadow: 0 2px 4px rgb(60, 60, 60);
  border: 2px solid rgb(158, 158, 158);
}

#flexbox button {
  padding: 8px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(103, 103, 103);
  box-shadow: 2px 3px 4px black ;
  cursor: pointer;
}

#flexbox button:active{
  scale: 0.9;
}

.items {
  margin-top: 15px;
  width: 300px;
  font-size: 20px;
  margin-left: 40px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: rgb(247, 248, 255);
  padding: 4px 8px;
  border-radius: 4px;
}